<header class="flex justify-between items-center p-3 bg-sky-700 text-white">
  <h1 class="text-xl">JWT Authentication</h1>
  <span (click)="logout()" class="bg-cyan-500 p-2 rounded-sm cursor-pointer hover:bg-cyan-500/80 active:bg-cyan-600">LOG OUT</span>
</header>
<main>
  <table class="border-collapse border border-gray-300 w-11/12 m-auto my-4">
    <thead>
      <tr class="leading-10 bg-slate-100">
        <th class="w-[75px]">ID</th>
        <th class="text-left">Name</th>
        <th class="text-left">Address</th>
        <th class="w-[120px]">Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList" class="border-collapse border border-gray-300 leading-9 cursor-pointer hover:bg-sky-50">
        <td class="text-center">{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td class="text-center">{{customer.contact}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="customerList.length === 0">
      <tr>
        <td colspan="4" class="leading-9 p-2">
          <div class="flex gap-2 justify-center items-center">
            <div class="lds-hourglass"></div>
            Please wait, loading customers
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</main>
